.booking {
    &-step {
        display        : flex;
        align-items    : center;
        justify-content: center;
        padding-bottom : 0.55rem;

        &-title {
            color        : #d0d0d1;
            padding      : 0.75rem;
            font-size    : 1.2rem;
            border-bottom: 0.1rem solid #d0d0d1;
        }

        &-selecting {
            color        : rgb(3 78 162);
            padding      : 0.75rem;
            font-size    : 1.2rem;
            border-bottom: 0.1rem solid rgb(3 78 162);
        }

        &-selected {
            color        : #00cf1c;
            padding      : 0.75rem;
            font-size    : 1.2rem;
            border-bottom: 0.1rem solid #00cf1c;
        }
    }

    &-content {
        background-color: rgb(249 249 249);
    }

    &-information {
        background-color: white;
        border-top      : 0.25rem solid #ff914d;
        border-radius   : 0.2rem;
        padding         : 0.75rem 1rem;

        &-film {
            &-img {
                width: 7.5rem;
            }
        }
    }

    &-selections {
        display       : flex;
        flex-direction: column;
        gap           : 2rem;
    }

    &-step-action {
        display: flex;
        gap    : 1rem;

        &-btn {
            width           : 50%;
            color           : white;
            border          : none;
            font-weight     : 550;
            background-color: #ff914d;
            padding         : 0.5rem 1rem;
            border-radius   : 0.25rem;

            &-disable {
                background-color: gray;
            }
        }
    }
}