@import "./media_queries";

:root {}

body {
    font-family: monospace;
}

.content-width-padding {
    padding-left : calc(1rem + (100vw - 4rem) * (15 - 30) / (660 - 1000));
    padding-right: calc(1rem + (100vw - 4rem) * (15 - 30) / (660 - 1000));
}

.content-height-padding {
    padding-top   : 1rem;
    padding-bottom: 1rem;

    @include responsiveScreen(tablet) {
        padding-top   : 2rem;
        padding-bottom: 2rem;
    }
}

.bg-white-2 {
    background-color: var(--color-white-2);
}

.font-size-12 {
    font-size: 0.75rem;
}

.page-content-height {
    min-height: 400px;
}