.manage-room {
    &-table {
        &-area {
            &-list {
                display: flex;
                gap    : 0.5rem
            }
        }
    }

    &-header {
        display        : flex;
        justify-content: space-between;
        margin-bottom  : 1rem;
    }

    .ant-pagination {
        &-item {
            &-active {
                background-color: antiquewhite !important;
            }

            &:hover {
                background-color: antiquewhite !important;
                color           : black;
            }

        }

        .anticon {
            color: antiquewhite !important;
        }
    }
}