.films-card {
    border-radius      : 0.25rem;
    position           : relative;
    background-size    : cover;
    background-position: center;
    height             : 22rem;
    aspect-ratio       : 0.7;
    cursor             : pointer;

    &-button {
        opacity        : 0;
        position       : absolute;
        bottom         : 0.5rem;
        left           : 0;
        right          : 0;
        display        : flex;
        justify-content: center;
        gap            : 1rem;

        &-detail {
            cursor          : pointer;
            border          : none;
            padding         : 0.5rem;
            font-weight     : 600;
            color           : #f2f2f2;
            background-color: #ff914d;
        }

        &-booking {
            cursor          : pointer;
            border          : none;
            padding         : 0.5rem;
            font-weight     : 600;
            background-color: #f2f2f2;
            color           : #ed5b00;

            &:hover {
                color           : #f2f2f2;
                background-color: #ff914d;
            }
        }
    }

    &:hover {
        box-shadow: 0 0 2rem #ff914d;

        .films-card-button {
            opacity: 1;
        }
    }

    &-age-limitation {
        position        : absolute;
        z-index         : 1;
        top             : 0.25rem;
        left            : 0.25rem;
        padding         : 0.1rem 0.25rem;
        background-color: #ff914d;
        color           : white;
        font-size       : 1.2rem;
    }

    &-rating {
        box-shadow      : 0 0 0.2rem white;
        position        : absolute;
        z-index         : 1;
        top             : 0.25rem;
        right           : 0.25rem;
        padding         : 0.1rem 0.25rem;
        background-color: transparent;
        color           : white;
        font-size       : 1.2rem;
    }
}