.container {
    width: 80%; /* Đảm bảo container không quá to hoặc nhỏ */
    margin: 0 auto; /* Căn giữa theo chiều ngang */
  }
  
  .cinema-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
    justify-content: center;
    text-align: center;
  }
  
  .relative {
    width: 100%;
    text-align: center; /* Căn giữa văn bản */
  }
  
  .row.layout {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center;
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
  }
  
  .col-6 {
    flex: 1;
    padding: 10px;
  }
  
  .layout-img1 {
    width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của container */
    height: auto;
  }
  
  .text1 {
    line-height: 1.8;
  }
  
  .text1 p {
    text-align: left; /* Nếu cần văn bản canh trái */
  }
  
  .img {
    display: flex;
    justify-content: center; /* Căn giữa hình ảnh */
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .nav-button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .nav-button.active {
    background-color: #F36F21;
    color: white;
  }