@import "./media_queries";

:root {}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin     : 0;
}

.content-width-padding {
    padding-left : calc(1rem + (100vw - 4rem) * (15 - 30) / (800 - 1000));
    padding-right: calc(1rem + (100vw - 4rem) * (15 - 30) / (800 - 1000));
}

.content-height-padding {
    padding-top   : 1rem;
    padding-bottom: 1rem;

    @include responsiveScreen(tablet) {
        padding-top   : 2rem;
        padding-bottom: 2rem;
    }
}

.bg-white-2 {
    background-color: var(--color-white-2);
}

.font-size-12 {
    font-size: 0.75rem;
}

.page-content-height {
    min-height: 400px;
}

.width-112 {
    width : 7rem;
    height: auto;
}

.text-dark {
    color: #383838;
}

.text-white {
    color: #fff
}

.bg-green {
    background-color: #00ea1f;
}

.font-size-16 {
    font-size: 1rem;
}

.text-orange {
    color: #ff914d;
}