.home-container .main-carousel-wrapper div {
  outline: none; /* Xóa viền khi được chọn */
}
.main-carousel img {
  cursor: pointer; /* Hiển thị hình bàn tay khi hover */
}

.carousel-wrapper {
  pointer-events: auto; /* Đảm bảo sự kiện chuột được kích hoạt */
}

.home-container {
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px; // Tăng kích thước font lên
    font-weight: bold;
    text-transform: uppercase;
    margin: 40px 0;
    text-align: center; // Đảm bảo chữ được căn giữa
  
    .line {
      flex: 1;
      border-bottom: 2px solid black;
      margin: 0 20px;
    }
  }
  .main-carousel-wrapper {
    position: relative;
    

    .main-carousel {
      height: 500px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
    }

    .custom-arrow {
      font-size: 30px;
      color: black;
      cursor: pointer;
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }

    .arrow-left {
      left: 10px; /* Đưa mũi tên ra xa hơn về bên trái */
    }

    .arrow-right {
      right: 10px; /* Đưa mũi tên ra xa hơn về bên phải */
    }
  }

  .posters-carousel-wrapper {
    position: relative;

    .posters-carousel {
      padding: 20px 0;
    }

    .posters-arrow {
      font-size: 30px;
      color: black;
      cursor: pointer;
      z-index: 10;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }

    .arrow-left {
      left: -30px; /* Đưa mũi tên ra xa hơn về bên trái */
    }

    .arrow-right {
      right: -30px; /* Đưa mũi tên ra xa hơn về bên phải */
    }
  }

  
}
