.header {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    font-size      : 1.2rem;

    &-item {
        display    : flex;
        align-items: center;
        gap        : 4rem;

        &-sm {
            gap: 1rem
        }

        a {
            text-decoration: none;
        }
    }
}