.user-profile {
    background-color: rgb(249 249 249);

    &-info {
        background-color: white;
        border-radius   : 0.3rem;
        box-shadow      : 0 0 1rem 0.05rem #b0b0b0;
    }

    &-history {
        background-color: white;
        border-radius   : 0.3rem;
        box-shadow      : 0 0 1rem 0.05rem #b0b0b0;

        &-table {
            font-size: 0.95rem;

            &-item {
                &-name {
                    cursor: pointer;

                    &:hover {
                        color: #ff914d;
                    }
                }
            }
        }
    }
}